body{
    margin:0;
    font-family:Arial;
    background:#f5f5f5;
    text-align:center;
}

header{
    background:#0077ff;
    color:white;
    padding:30px;
}

section{
    margin-top:50px;
    font-size:20px;
}
